<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/table.css'%}">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr><th>Model</th>
            <th>Color</th>
            <th>Price</th>
            <th>Year</th>
            <th>Image</th>
        </tr></thead>
        <tbody>
            {%for content in content%}
            <tr>
                <td>{{content.model}}</td>
                <td>{{content.color}}</td>
                <td>{{content.price}}</td>
                <td>{{content.year}}</td>
                <td>
                    <img src="{% static content.image %}">
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</body>
</html>